/* src/views/post/PostList.css */

.post-card {
  height: 100%; /* 카드 높이를 동일하게 유지 */
}

.search-bar {
  width: 100%; /* 검색 바가 컨테이너의 너비를 가득 채움 */
}

.pagination {
  margin-top: 20px; /* 페이지네이션 위쪽 여백 추가 */
  justify-content: center; /* 중앙 정렬 */
}

.pagination .page-item {
  margin: 0 5px; /* 각 페이지 아이템 간의 여백 조정 */
}

.pagination .page-item a {
  padding: 0.75rem 1.5rem; /* 페이지 링크의 패딩 조정 */
  font-size: 1rem; /* 글씨 크기 조정 */
  border-radius: 0.5rem; /* 버튼 모서리 둥글게 */
  border: 1px solid transparent; /* 기본 테두리 설정 */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* 부드러운 효과 추가 */
  display: inline-flex; /* 버튼 내 텍스트 중앙 정렬을 위한 flexbox 설정 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
}

.pagination .active .page-link {
  background-color: #007bff; /* 활성 페이지 링크 색상 */
  border-color: #007bff; /* 활성 페이지 링크 테두리 색상 */
  color: white; /* 활성 페이지 링크 텍스트 색상 */
  font-size: 1.25rem; /* 현재 페이지의 글씨 크기 조정 */
  padding: 0.75rem 1.5rem; /* 패딩 조정 */
}

.pagination .disabled .page-link {
  color: #6c757d; /* 비활성 페이지 링크 색상 */
  background-color: #e9ecef; /* 비활성화된 버튼의 배경색 */
  border-color: #dee2e6; /* 비활성화된 버튼의 테두리 색상 */
  padding: 0.75rem 1.5rem; /* 비활성화된 버튼의 패딩 조정 */
  font-size: 1rem; /* 비활성화된 버튼의 글씨 크기 조정 */
  cursor: not-allowed; /* 비활성화된 버튼에 커서 스타일 추가 */
}

.pagination .page-item a:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
  color: white; /* 호버 시 글씨색 변경 */
  border-color: #0056b3; /* 호버 시 테두리 색상 변경 */
}
.pagination .page-item.active .page-link {
  background-color: #007bff; /* 현재 페이지 배경색 */
  border-color: #007bff; /* 현재 페이지 테두리 색상 */
  color: white; /* 현재 페이지 텍스트 색상 */
}

/* 현재 페이지 링크에서 추가 텍스트 숨기기 */
.pagination .page-item.active .page-link:after {
  content: ''; /* 현재 페이지 표시를 비우기 */
  display: none; /* 현재 페이지 표시 숨기기 */
}



/* 커스텀 버튼 스타일 */
.custom-button {
  padding: 0.5rem 1rem; /* 버튼의 패딩 조정 */
  font-size: 1rem; /* 글씨 크기 조정 */
  border-radius: 0.5rem; /* 버튼 모서리 둥글게 */
  width: auto; /* 기본 너비로 설정 */
  max-width: 120px; /* 최대 너비 설정 */
  transition: background-color 0.3s, color 0.3s; /* 부드러운 효과 추가 */
}

.custom-button:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
  color: white; /* 호버 시 글씨색 변경 */
}

/* 모바일 반응형 디자인 */
@media (max-width: 768px) {
  .post-card {
    margin-bottom: 15px; /* 모바일에서 카드 간격 조정 */
  }

  .pagination .page-item a {
    padding: 0.5rem 1rem; /* 모바일에서 패딩 조정 */
    font-size: 0.875rem; /* 모바일에서 글씨 크기 조정 */
  }

  .custom-button {
    max-width: 100%; /* 모바일에서 버튼 너비 조정 */
    width: 100%; /* 모바일에서 버튼 너비를 100%로 설정 */
  }
}
